{% block ambta_translations_widget %}
    {{ form_errors(form) }}
    <div class="ambta_translations tabbable">
        <ul class="ambta_translationsLocales nav nav-tabs">
        {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}

            <li {% if app.request.locale == locale %}class="active"{% endif %}>
                <a href="#" data-toggle="tab" data-target=".{{ translationsFields.vars.id }}_ambta_translationsFields-{{ locale }}">
                    {{ locale|capitalize }}
                    {% if form.vars.default_locale == locale %}[Default]{% endif %}
                    {% if translationsFields.vars.required %}*{% endif %}
                </a>
            </li>
        {% endfor %}
        </ul>

        <div class="ambta_translationsFields tab-content">
        {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}

            <div class="{{ translationsFields.vars.id }}_ambta_translationsFields-{{ locale }} tab-pane {% if app.request.locale == locale %}active{% endif %} {% if not form.vars.valid %}sonata-ba-field-error{% endif %}">
                {{ form_errors(translationsFields) }}
                {{ form_widget(translationsFields) }}
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}

{% block ambta_translationsForms_widget %}
    {{ block('ambta_translations_widget') }}
{% endblock %}
